@model impacta_Projeto03.Models.Produto

@{
    ViewData["Title"] = "Detalhes | Produtos";
}
<h1 class="mt-3">Detalhes Produtos</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary mt-2" style="text-decoration: none;" asp-action="Edit" asp-route-id="@Model?.ProdutoID">Editar</a>
    <a class="btn btn-light mt-2" style="text-decoration: none;" asp-action="Index">Voltar</a>
</div>
