@model impacta_Projeto03.Models.Venda

@{
    ViewData["Title"] = "Detalhes | Vendas";
}
<h1 class ="mt-3">Detalhes Vendas</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVenda)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary mt-2" style="text-decoration: none;"  asp-action="Edit" asp-route-id="@Model?.VendaID">Editar</a>
    <a class="btn btn-light mt-2" style="text-decoration: none;"  asp-action="Index">Voltar</a>
</div>
