@model IEnumerable<impacta_Projeto03.Models.Acesso>

@{
    ViewData["Title"] = "Acessos";
}

<h1>Acessos</h1>

<p>
    <div class="btn btn-primary"><a class="text-white" style="text-decoration: none;" asp-action="Create">Criar Novo</a></div>
</p>
<table class="table table-striped table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcesso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AcessoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AcessoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AcessoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
